@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --size: 15px;
}

@font-face {
  font-family: neptun;
  src: url(Src/Fonts/Neptun/crate_neptune.otf);
}

@font-face {
  font-family: geist;
  src: url(Src/Fonts/geist-mono/GeistMono-Regular-BF65694d05471c0.otf);
}

@font-face {
  font-family: fathan;
  src: url(Src/Fonts/fathan-font/Fathan-DisplaySerif-BF652fce22a8698.otf);
}

@font-face {
  font-family: quarx;
  src: url(Src/Fonts/quarx-28818535/Quarx.otf);
}

html {
  cursor: none;
  user-select: none;
}

* {
  box-sizing: border-box;
}

body {
  height: 98vh;
  background-color: #191919;
  padding: 50px;
  overflow: hidden;
}

h1 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  font-weight: 500;
}


.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: #36562f;
}

.cursor-dot-outline {
  width: 40px;
  height: 40px;
  background-color: #36562f8a;
}

.Container__grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 15px;

}

.Header__Title {
  margin-left: 10px;
}

.Grid__div {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 15px;
  display: flex;
}

.Grid__grainBlobs {
  background-image: url(Src/Img/Bg/BG2.png);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-position: center center;
  background-size: 140%;
  padding: 70px;
}

.Grid__grainBlobs h2 {
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  font-size: 400%;
  text-transform: none;
}

.Grid__grainBlobs h2 span:last-child {
  font-family: quarx;
  text-transform: uppercase;
}

.Grid__grainBlobs h2 span:first-child {
  font-family: monospace;
}

.Grid__grain {
  background-image: url(Src/Img/Bg/Background.png);
  background-position: center;
  background-size: 150%;
}

.Header__Container1 {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.Grid__Header {
  padding: 0 30px;
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.9fr 1.1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". .";
  align-items: center;
  align-content: center;
  justify-items: stretch;
  justify-content: space-between;

}

.Grid__Img {
  background-image: url(Src/Img/Extras/Screenshot_20221007-204444_Gallery.jpg);
  background-position: top;
  background-size: cover;
}

.Header__Menu {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
}

.Header__Menu li a {
  font-size: 1.2rem;
  color: #0f0f0f;
  text-decoration: none;
  margin: 0 20px;
  position: relative;
  display: block;
  padding: 2px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

.Header__Menu li a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #869675;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.Header__Menu li a:hover {
  color: #869675;
}

ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}